.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 
.listWrapper{
    width: 100%;
    min-width: 1024px;
    display: flex;
    gap: 20px;
}
.Title{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.listSearch{
    flex:1;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(20, 106, 255);
    position: sticky;
    top: 10px;
    height: max-content;
}
.listItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.listSearch>button{
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(0, 63, 172);

}


.listItem>input{
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.listItem>span{
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.lisOptions{
padding: 10px;
}
.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #000;
    font-style: 12px;
}
.isOptionOutput{
    border-radius: 2px;
    display: flex;
    border: none;
    outline: none;
    width: 50px;
}
.listResult{
    flex:4;
}

