*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    height:50px;
    background-color: #FF9800;
    display: flex;
    justify-content: center;
}

.navContainer{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 1024xp;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    color: white
}

.navButtons{
    margin-left: 10px;
    border: none;
    border-radius: 99px;
    padding: 10px 20px;
    cursor:pointer;
    background-color: white;

}